$base-font:         "Ubuntu", sans-serif;
$base-font-size:    14px;
$base-color:        #1E1E1E;
$accent-color:      #44f1f9;
$stress-color:      #b7cacd;
$mark-color:        #E4EDFD;
$ext-color:         #FBFBFB;
$note-color:        #999999;
$error-color:       #FF2F2F;
$img-bg-color:      #EFEFEF;
$border-color:      #EAEAEA;
$transparent-color: #47F1FA7F;
$shadow-color:      #00000024;
$background-color:  #ffffff;