.accent-bg{
    background-repeat: no-repeat;   
    background-position: center center;
    background-size: 400px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 2 2%22%3E %3Ccircle r=%221%22 cx=%221%22 cy=%221%22 fill=%22%23E4EDFD%22/%3E %3C/svg%3E'); 
}
h1{
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
h2{
    font-size: 1.4rem;
    font-weight: 500;
}
