:root {
  --white-one: #fff;
  --white-two: #efefef;
  --white-three: #f8f8f8;
  --white-four: #e4edfd;
  --white-five: #eaeaea;
  --blue-one: #3369f3;
  --gray-one: #999;
  --red-one: #f00;
  --red-two: #FF2F2F;
  --dark-one: #1E1E1E;
  --dark-two: rgba(0, 0, 0, 0.5);
  --dark-three: rgba(0, 0, 0, 0.14);
}